.jumbotron{

    background-color: darkorange;
    color:black;

    margin-top: 5%;
}



/* FORMULARIES AND TXT */
/* FORMULARIES AND TXT */

form{
    margin: 2%;
}



p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
    color: black;
}

a{

  color: whitesmoke;
}


/* CARDS */
/* CARDS */

.card-hotel{

flex:1 150px;
padding: 2px 5px 2px 5px;
margin: 2%;
background-color: seashell;
border-radius: 3%;


}


/* BUTTONS*/
/* BUTTONS*/


.btn{
    background-color: rgb(255, 106, 106);
    box-shadow: 0px 2px 4px 4px rgb(212, 178, 178);
    color: honeydew;
  
}


.btn-reserva{

    width:100%;
    left: 0;
    bottom: 0; 
    align-self: flex-end;
  
}

.btn-outline-primary {
    align-self: flex-start;
}

/* ICONS */
/* ICONS */

.oi{

    color: snow;
    margin-right: 4%;
}


.goldstar{

   color: gold;
}




/* FOOTER */
/* FOOTER */

footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(255, 106, 106);
    margin-bottom: 0px;
} 

