.jumbotron{

    background-color: darkorange;
    color:black;

    margin-top: 5%;
}

 footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(255, 106, 106);
    margin-bottom: 0px;
} 

.btn{
    background-color: rgb(255, 106, 106);
    box-shadow: 0px 2px 4px 4px rgb(212, 178, 178);
  
}


p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5%;
}

.card-hotel{
flex:1 150px;
padding: 2px 5px 2px 5px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 400px;
margin: 2%;
background-color: seashell;
border-radius: 10%;


}

.btn-reserva{

    width:100%;
    left: 0;
    bottom: 0; 
    align-self: flex-end;
  
}

.oi{

    color: snow;
    margin-right: 2%;
}

form{
    margin: 2%;
}

.btn-outline-primary {
    align-self: flex-start;
}

