$colorBotones:#fdfd88;
$colorIconos:#f1efef;
$cardHotel:#f1efef;
$colorNavBar:#fdfd88;


@mixin margenes ($top,$right,$bottom,$left){
    margin-top:$top;
    margin-right:$right;
    margin-bottom:$bottom;
    margin-left:$left;
}



body{
@include margenes(0px,20px,0px,20px);

}


header {
    width: 100%;
    height: 100vh;
    background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
    background-size: cover;
    @include margenes(-10px,-10px,0px,0px);
}

form{
    @include margenes(0px,0px,0px,0px)
}



p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @include margenes(5%,5%,5%,5%);
    color: black;
}

a{

  color: $colorIconos;
}


/* CARDS */
/* CARDS */

.card-body{

    max-height: 30%;
}
.card-hotel{

flex:1 200px;
padding: 2px 0px 2px 0px;
margin: 2%;
background-color: $cardHotel;
border-radius: 3%;


}


/* BUTTONS*/
/* BUTTONS*/


.btn{
    background-color: $colorBotones;
    box-shadow: 0px 2px 4px 4px rgb(212, 178, 178);
    color: $colorIconos;
  
}


.btn-reserva{

    width:100%;
    left: 0;
    bottom: 0; 
    align-self: flex-end;
    border-radius: 0;
  
}

.btn-outline-primary {
    align-self: flex-start;
}

/* ICONS */
/* ICONS */

.oi{

    color: $colorBotones;
    margin-right: 4%;
}


.goldstar{

   color: gold;
}



    /* NAVBAR */


.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  
}

a{

    transition: 0.45s;
    opacity: 0.8;
    text-align: center;
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fbfbfd;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    transition: 1s;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
   background-color: $colorNavBar;
    opacity: 0.8;

    
}


nav ul {
    line-height: 60px;
    list-style: none;
  
    overflow: hidden;
    color: $colorNavBar;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 2s;
}


.nav-scrolled {
    background-color: $colorNavBar;
    height: 22%;
    transition: 2s;
    opacity: 0.8;
  

}

.navbar-toggler-icon  {

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


.logo-scrolled{

    font-size: 100%;
    transition: 1s;
    

}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: transparent;
    font-size: 150%;
    border-color: #000;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}



@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 20px;
          transition: 1s;
    }

    nav ul {
        
          background: #000;
    }

    nav.black ul {
          background: #000;

        
    }

    .showing {
          max-height: 200%;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }
}


/* FOOTER */
/* FOOTER */

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/

